body {
    background-color: #1e1e1e;
    color: white;
}

.header {
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
}

.stats {
    margin: 0 auto;
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #303030;
    width: 700px;
    height: 200px;
    padding: 10px;
}

.majorstat {
    text-align: center;
    font-size: 50px;
    margin-bottom: -5px;
    margin-top: 30px;
}

.minorstats {
    text-align: center;
    color: #cccccc;
    font-size: 20px;
    margin-bottom: -10px;
}

#ondot {
    position: fixed;
    margin: 0px;
    padding: 0px;
    transform: translate(677px, -40px);
    font-size: 80px;
    color: red;
}

#chartcontainer {
    position: fixed;
    bottom: 0;
}