body {
    background-color: #2E2E2E;
    color: white;
}

.header {
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
}

.stats {
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #303030;
    width: 400px;
    height: 200px;
    padding: 10px;
}

.majorstat {
    text-align: center;
    font-size: 40px;
    margin-bottom: -15px;
}

.minorstats {
    text-align: center;
    color: #cccccc;
    font-size: 20px;
    margin-bottom: -5px;
}

#ondot {
    font-size: 30px;
    text-align: right;
    color: red;
    transform: translate(-10px,-50px);
}